body {
  background: #fce550;
  padding-top: 50px;
}

img.coffeeImage {
  width: 100px;
  top: 20px;
  position: relative;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #61402c;
}

.bio {
  text-align: center;
  color: #222222;
  margin-top: 25px;
}

.bio h3 {
  font-family: 'Lobster';
}

.message {
  padding: 20px;
  background: transparent;
  border: 2px solid #fff6bb;
  box-shadow: 1px 1px 3px #8c3f0a;
}

.message::placeholder {
  color: #8c3f0a;
}

.buyButton,
.connectWalletButton {
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  padding: 21px 31px;
  font-family: 'Lobster';
  background: #8c3f0a;
  border: 2px solid #ffffff;
  color: #ffe642;
  font-size: 18px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.connectWalletButton {
  background: #fff;
  color: #8c3f0a;
  border: 2px solid #8c3f0a;
}

.buyButton:hover {
  background: #9a4307;
  transform: scale(1.2);
}

.connectWalletButton:hover {
  background: #f5f5f5;
  transform: scale(1.2);
}
